<mat-toolbar class="nav-bar" color="primary">
    <span>
        <h4>
            <span class="text-title-color fw-bolder">SocialNet</span>
        </h4>
    </span>
    <span class="spacer"></span>

    <span>
        <a routerLink="/posts">
            <button mat-stroked-button>
                <span>Posts</span>
            </button>
        </a>
    </span>
    <span class="spacer"></span>

    <span>
        <a routerLink="/my-posts">
            <button mat-stroked-button>
                <span>My Posts</span>
            </button>
        </a>
    </span>
    <span class="spacer"></span>

    <button mat-stroked-button (click)="onPostCreate()">
        Add Post
    </button>
    <span class="spacer"></span>

    <!-- <div *ngIf="user.profilePicture"></div> -->
    <button mat-button class="text-white" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>

</mat-toolbar>