<h1>{{data? "Update" : "Create"}} Post</h1>

<form action="" class="form-dialog" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-dialog__filed">
        <textarea name="content" id="content" rows="10" placeholder="Post Content" class="form-dialog__content"
            formControlName="content"></textarea>
    </div>
    <div>
        Imagen
    </div>
    <div class="form-dialog__actions">
        <button type="submit" [disabled]="postForm.invalid">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
    </div>
</form>