/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0 16%; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-barnav {
    background-color: #00b4b4 !important;
  }
